// Modifiers
.is-fullheight {
  height: 100vh;
}

// Title
.title {
  font-family: $family-heading;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.subtitle {
  color: $title-color;
  font-family: $family-serif;
  font-size: 1rem;
  font-style: italic;
}

// Hero
.hero {
  position: relative;
  background-attachment: fixed !important;
  background-size: cover !important;
  .title {
    color: $primary;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 12px;
    font-size: 2.25rem;
  }
  .subtitle {
    color: $white;
    font-family: $family-serif;
    font-size: 0.875rem;
    font-style: italic;
    text-transform: uppercase;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/pattern-overlay.png');
  }
}

// Section
.section {
  &.is-primary {
    background-color: $primary;
    &.has-pattern {
      background-image: url('../img/pattern-yellow.gif');
    }
  }
  &.is-primary-inverted {
    background-color: $black;
    .title {
      color: $grey;
    }
  }
  .title {
  text-align: center;
  }
}

// Navbar
.navbar-item,
.navbar-link {
  font-family: $family-heading;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar-item {
  img {
    max-height: 2.75rem;
  }
}

// Buttons
.button {
  background: $primary url('../img/btn-yellow-bg.gif');
  border-radius: 0;
  font-family: $family-heading;
  font-weight: 700;
  text-transform: uppercase;
}
.button.is-primary {
  color: $black;
}

// Section-specific
#introduction {
  background: $black url('../img/hero-1.jpg') no-repeat center;
}

#passion {
  div {
    .column {
      .title {
        font-size: 4.875rem;
        font-weight: 700;
        letter-spacing: normal;
        text-transform: lowercase;
      }
    }
  }
}

#quote {
  background: $black url('../img/nuworks-office.jpg') no-repeat center;
  .title {
    color: $white;
  }
}

#our-partners {
  #partners-btn {
    margin-top: 2.75rem;
  }
}