
// Modifiers
.is-fullheight {
  height: 100vh;
}

// Title
.title {
  font-family: $family-heading;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.subtitle {
  color: $title-color;
  font-family: $family-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5;
}

// Hero
.hero {
  position: relative;
  background-attachment: fixed !important;
  background-size: cover !important;
  .title {
    color: $primary;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 12px;
    font-size: 2.25rem;
  }
  .subtitle {
    color: $white;
    font-family: $family-serif;
    font-size: 0.875rem;
    font-style: italic;
    text-transform: uppercase;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/pattern-overlay.png');
  }
}

// Section
.section {
  &.is-primary {
    background-color: $primary;
    &.has-pattern {
      background-image: url('../img/pattern-yellow.gif');
    }
  }
  &.is-primary-inverted {
    background-color: $black;
    .title {
      color: $grey;
    }
  }
  .section-header {
    margin-bottom: 5rem;
  }
  .title {
    text-align: center;
  }
  .column {
    .container {
      padding: 0 1.5rem;
      width: 100%;
    }
  }
}

// Navbar
.navbar-item,
.navbar-link {
  font-family: $family-heading;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar-item {
  img {
    max-height: 2.75rem;
  }
}

// Buttons
.button {
  background: $primary url('../img/btn-yellow-bg.gif');
  border-radius: 0;
  font-family: $family-heading;
  font-weight: 700;
  text-transform: uppercase;
}
.button.is-small {
  border-radius: 0;
}
.button.is-primary {
  color: $black;
  &.is-inverted {
    color: $primary !important;
    background-color: $black;
    background-image: none;
    &:hover {
      background-color: $black;
    }
  }
}

// Section-specific
#introduction {
  background: $black url('../img/hero-1.jpg') no-repeat center;
}

#passion {
  div {
    .column {
      .title {
        font-size: 4.875rem;
        font-weight: 700;
        letter-spacing: normal;
        text-transform: lowercase;
      }
    }
  }
}

#quote {
  background: $black url('../img/nuworks-office.jpg') no-repeat center;
  .title {
    color: $white;
  }
}

#our-partners {
  #partners-btn {
    margin-top: 2.75rem;
  }
}

#our-capabilities {
  padding-bottom: 5rem;
  .capability {
    padding: 0;
    cursor: pointer;
  }
  #capabilities-container {
    position: relative;
  }
  #capabilities {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    &.hide {
      opacity: 0;
      @media (max-width: 768px) {
        height: 0;
        overflow: hidden;
      }
    }
  }
  #capability-details {
    position: absolute;
    top: 0;
    left: -1999px;
    width: 100%;
    height: 100%;
    transition: left .5s ease-in-out;
    .columns {
      align-items: center;
      justify-content: center;
    }
    &.active {
      left: 0;
    }
    .title {
      font-size: 1.375rem;
      text-align: left;
    }
    #close-capability {
      background-image: url('../img/btn_back_black.png');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      text-indent: -9999px;
    }
    @media (max-width: 768px) {
      position: relative;
      height: 0;
      overflow: hidden;
      &.active {
        height: auto;
      }
      #capability-img img {
        margin: 0 auto;
      }
      #close-capability {
        position: absolute;
        top: calc(50% - 100px);
        width: 54px;
      }
    }
  }
  .small-title {
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 700;
  }
}

#contact {
  padding: 0;
  .column {
    padding: 3rem 1.5rem;
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  &.is-primary-inverted {
    address {
      color: $grey-dark;
      font-size: 0.875rem;
      font-style: normal;
      margin-bottom: 2.25rem;
    }
    a {
      color: $white;
      &.button {
        color: $black;
      }
    }
  }
  #map {
    background-image: url('../img/map.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    #map-btn {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 1.5rem;
    }
    @media (max-width: 728px) {
      height: 100%;
    }
  }
  .nw-logo {
    width: 37%;
    min-width: 200px;
  }
}